/**** R E S E T  start****/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
button {
  cursor: revert;
}
ol,
ul,
menu {
  list-style: none;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  appearance: revert;
}
::placeholder {
  color: unset;
}
:where([hidden]) {
  display: none;
}
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
/**** R E S E T  end****/

/**** STYLE GUIDE
    
### Headings, Call-to-actions, Header Navigation
    font-family: 'Raleway', sans-serif;
    Weights: 400, 700

### Body
    font-family: 'Open Sans', sans-serif;
     Weights: 400

    ## Colors----------------------------------------------

### Primary

- Very Dark Blue: hsl(243, 87%, 12%)
- Desaturated Blue: hsl(238, 22%, 44%)

### Accent

- Bright Blue: hsl(224, 93%, 58%)
- Moderate Cyan: hsl(170, 45%, 43%)

### Neutral

- Light Grayish Blue: hsl(240, 75%, 98%)
- Light Gray: hsl(0, 0%, 75%)


    ****/

/********* MOBILE ************/
body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
}
#wrapper {
  width: 23.4375rem;
  margin-top: 3rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: hsl(238, 22%, 44%);
}
.logo {
  width: 7.25rem;
}
nav ul {
  display: flex;
}
nav li {
  margin-left: 1.5rem;
}
